<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" id="logo" href="/">P4SSWORd KE3PR</a>
    <form method="POST" action="/logout" class="my-2 my-sm-0">
      <button class="btn btn-outline-info my-2 my-sm-0">Logout</button>
    </form>
  </nav>
</header>
