<nav id="padding" class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/members">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Generate a password</a>
    </li>
  </ul>
</nav>
