<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div class="container">
    <h1>Add New Password</h1>
    <div class="row">
      <div class="col-9">


      </div>
      <div class="col-4">
        <form method="POST" action="/logout" style="margin-left: 20px; margin-top: 10px">
          <button>Logout</button>

        </form>
      </div>
      <div class="col-6">

        <form method="POST" action="/savePassword" style="margin-left: 20px; margin-top: 10px">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Website URL</label>
              <input type="url" class="form-control" name="url" placeholder="website">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress2">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">copy to clipboard</label>
              <button>
                Copy
              </button>
            </div>
          </div>
          <button type="submit" id="newVault" class="btn btn-primary">Save</button>
          <button type="submit" class="btn btn-primary">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</body>

</html>
