<!DOCTYPE html>
<html lang="en">
  <!-- Bootstrap CSS -->
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
</head>
<body>
  <%- include('partial/header') %>

  <form action="/register" method ="post">


    <div class="container">
      <h1>Register</h1>
      <p>create an account.</p>
      <hr>


      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Full name" name="name"  required>





      <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">




    </div>
  </form>
</body>
</html>
