// See: https://sass-lang.com/

body, html {
  margin: 0;
}

#padding {
  margin-bottom: 100px;
}

#logo {
  font-weight:900;
}

.password{
  display: flex;
  align-items: center;
  margin-left: 50%;
}
